<h1>Mariko's Missives</h1>


<hr class="hr"/>
<h4>FOR IMMEDATE RELEASE</h4>				
<h3>March 14, 2015</h3>

<h2>Mariko Yamada Announces Candidacy for State Senate District 3 for 2016 Election</h2>

<p>Former State Assemblymember: &quot;We’ve got work to do!&quot;</p>

<p>Davis, CA – Former State Assemblymember Mariko Yamada today formally begins her campaign for State Senate 2016 to represent the 3rd District, comprised of Solano and Napa counties, and portions of Contra Costa, Sacramento, Sonoma, and Yolo counties.   Yamada, a professional social worker and former Yolo County Supervisor, enters the race with four decades of experience at the federal, state and local levels and a wide coalition of support.</p>

<p>&quot;In the past 100 days since the conclusion of my Assembly service, I am grateful for the encouragement I have received from so many friends and supporters,&quot; Yamada said.  &quot;After hearing from the community, consulting with advisors and having the full support of my family, I am announcing today that I am a candidate for the 2016 open seat in California’s 3rd Senate District.&quot;</p>

<p>In announcing her candidacy, Yamada also released the name of dozens of elected officials and community leaders who are endorsing her, including State Controller <b>Betty Yee</b>, State Treasurer <b>John Chiang</b>, State Insurance Commissioner <b>Dave Jones</b>, former State Treasurer and State Senator <b>Bill Lockyer</b>, former State Senator <b>Noreen Evans</b>, former Assemblymember <b>Wes Chesbro</b>, and dozens of other state and local officials and citizens.   <%= link_to 'A full list can be found online here.', endorsements_path %> </p>

<p>Yamada represented both the former 8th Assembly District and the 4th Assembly District from 2008 – 2014, which includes 80% of Senate District 3.   During that time, Yamada was known as an outspoken advocate for the protection of agriculture and water resources, veterans, vulnerable elders, the mentally ill and persons with disabilities and their caregivers throughout the state.   She has been a consistent and insistent voice on the preservation of prime farmland and is opposed to the Delta tunnels.  </p>

<p>As a Yolo County Supervisor, Yamada worked to protect agriculture, open space and local water resources; expand services to seniors and persons with disabilities; and push back on unsafe development. </p>    

<p>Throughout her time in public service and as a social worker, Mariko Yamada has worked hard to engage all members of our community to forge common solutions to shared problems and to create new opportunities.</p>

<p>“I am proud of what we’ve accomplished to turn things around in California, but I know we’re not done yet,” said Yamada. “We need experienced and energetic leadership to continue to recover from some of the most difficult times our State and Nation have experienced.  I’m running for State Senate to build upon the work I did in the Assembly, to make sure we’re standing up for the middle class and small businesses throughout California, protecting the most vulnerable, improving our schools, colleges and universities and defending the Delta and the environment.”</p>

<p>For more information on Mariko Yamada’s campaign, please visit her website at <%= link_to 'www.yamadaforsenate.com', 'http://yamadaforsenate.com' %></p>
<hr class="hr"/>
<p>&nbsp;</p>


		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	  <% end %>
