<h2>Mariko on the Issues</h2>

<h3>Economic Inequality</h3>
<p>As a social worker for more than 40 years, Mariko Yamada has worked directly with families going through tough times. She understands that too many Californians struggle because low-wages and rising costs stack the system against them.</p>

<p>Californians are still recovering from the economic storm brought on by Wall Street greed.  As we fight to close the gap between the rich and poor, we need leaders who understand that the economic recovery has been uneven.   Rising education and health care costs have outpaced stagnating income. The social safety net that previous generations could rely upon has been shredded.</p>

<p>As State Senator, Mariko will work to level the playing field for all Californians. She’ll work to make sure that everyone pays their fair share – including support for extending the Prop 30 tax on millionaires and billionaires, and closing the corporate loopholes in Prop 13.</p>

<p>Mariko will make the case for social, economic, educational and environmental justice for all Californians. In Sacramento, she’ll represent the poor and middle class families over corporate special interests.</p>

<h3>Protecting Our Environment</h3>

<p>Mariko understands the delicate balance that must be maintained to preserve the character of our region. Dating back to her nine years of service with the Yolo County Board of Supervisors, Mariko has always been a leading advocate for open space and agricultural preservation. She will protect the natural and water resources on which our region’s prosperity depends.</p>
<p>Contrary to the claims of figures on the national stage, the looming threat of climate change is real. While her main opponent has taken a walk from key legislative votes that would protect our environment, Mariko has a reputation for always taking a stand when it comes to protecting our environment. That’s why she’s endorsed by the CA League of Conservation Voters. She’ll combat climate change and support efforts to reduce carbon emissions that put the health of our children and our local economy at risk.</p>

<h3>Water</h3>

<p>Four consecutive years of drought have endangered our region’s multi-billion dollar farm industry. Farmers and farmworkers have borne a significant share of the drought’s burden. And the impending threat of climate change means that these are problems that all of us will continue to face in the years ahead.</p>

<p>Considering the vital role that water plays in the Third State Senate District, this is not the time to be enabling the shipping away of our critical water resources. We should be investing in innovative technology and recycling programs to reduce water use, not destroying the largest fresh water estuary in the Northern Hemisphere to ship water resources to Southern California. Mariko has been a consistent and vocal opponent of the Governor’s Delta tunnels proposals, and will continue to oppose efforts to deprive our region of scarce water resources.</p>

<h3>Food Safety</h3>
<p>Every family in California should have access to affordable, healthy food, free from harmful toxins.</p>

<p>As State Senator, one of Mariko’s first actions would be to introduce legislation requiring the labeling of genetically modified foods in California.  Going further, Mariko supports an outright ban on GMOs in grocery stores until GMOs are proven safe. We must have a better understanding of the long-term health effects and potential impact of allergens before exposing our children to these risks. We can explore ways to meet the growing demands on our global food supply and to alleviate the harm of resistant viruses and bacteria on crops, but these efforts must be weighed against the ability of parents to know what they are feeding their children.</p>
<p>Mariko will work to safeguard our food and water supply, instead of letting corporations like Monsanto win the fight against consumers.</p>

<h3>Consumer Protection</h3>
<p>Almost eight years ago, recklessness on Wall Street crippled our nation’s economy – but it was families on Main Street who paid the price. Big banks had brought on the economic crisis by gambling with other people’s money and selling their customers financial products they knew they couldn’t afford. And even after taxpayers bailed them out, they’re right back to their old ways while working families are still struggling to dig out of the hole they were left in.</p>

<p>As State Senator, Mariko will stand up for families instead of corporate interests. She’ll protect seniors against credit card fraud, instead of letting big banks off the hook. She’s the kind of leader California needs to stand up against corporate special interests and will fight to strengthen middle class families.</p>

<h3>Seniors & Long-term Care</h3>
<p>Mariko knows what it’s like to care for an aging parent while trying to raise a family; she was the primary caregiver for a parent for 23 years while raising her own two daughters. She clearly understands that as the Baby Boomer generation reaches retirement age, more and more families will face complex caregiving challenges.</p>
<p>Mariko has taken that experience and applied it to her service in public office. She chaired the Assembly’s Aging and Long-Term Care Committee for five years. As State Senator, one of her top priorities will be to establish the first Senate Committee on Aging and Long-Term Care to serve as the policy locus for issues related to California’s “Silver Tsunami”.</p>
	<p>Over the last decade, the number of California seniors age 65 and older living in poverty has nearly doubled, due in large part to rising housing and health care costs. Without a serious effort to address the challenges faced by California’s aging population, the stress placed on our state’s resources threatens to limit the opportunities available to younger generations.</p>

<h3>Health & Mental Health Care</h3>

<p>While Obamacare has made significant progress in reducing the number of uninsured Americans and slowing the growth of health care costs, we are still a long way from solving the problems that plague our nation’s and our state’s health care systems. Meanwhile, members of the Republican Party, corporate interests, and the big insurance companies threaten to undo any progress we’ve made.</p>

<p>We must ensure that every Californian has access to quality, affordable health care. Health care costs constitute a significant chunk of our state’s budget, and remain one of the most important issues facing our state in the years ahead. Working conditions in our state institutions are also a significant concern.   Mariko chaired the Select Committee on State Hospital and State Developmental Center Safety to address deficiencies in these state institutions.</p>

<p>We must finally treat mental health as an integrated component of overall health care instead of something separate or taboo, especially considering the close link between mental health and our state’s homelessness crisis. Mariko will continue to raise awareness for mental health issues and advocate for expanded services for all Californians.  Mariko finds unacceptable that a growing number of people are on the streets because mental health services aren’t available.  Mariko served as the Homeless Liaison for Yolo County while serving nine years on the Yolo County Board of Supervisors.</p>

<p>Mariko believes it essential that our health care and mental health care systems meet the needs of the brave men and women who served in our armed forces when they return home. Mariko served on the Assembly Veterans Affairs Committee for six years, leaving as its senior member.</p>

<h3>Free Community College</h3>
<p>Now more than ever, education is the key that opens the doors of opportunity. But too many students who have done everything right and pursued a higher education are finding that not to be the case. They’re graduating without employment prospects in a difficult job market, and overwhelmed by the crushing burden of student debt.</p>
<p>Higher education should be an experience that expands opportunities for the future, not a burden that limits them. To restore the promise that higher education once held for previous generations, we need to ensure that it is affordable and accessible for every young person who is willing to put in the work.</p>
<p>That’s why Mariko supports making the first two years of community college free for every California student who meets the requirements. They should have an opportunity to acquire the skills they need for a good-paying job, without having to take on thousands of dollars in debt that put them in a hole before they’ve even started. That’s the key to helping more young people and their families reach the middle class.  To make this investment in our next generation of leaders will require a partnership between the federal and state government and examining new revenue sources including an oil severance tax.</p>



			
			<p class="bttop"><%= link_to 'Back to top <span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> '.html_safe, '#Top' %></p>
			
			
   
     
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	  <% end %>