

 
    <% content_for :jumbot do %>
	
		 <div class="jumbotron jumbotron-welcome">
			 
  	<h1>Mariko Yamada</h1>
        <h2>State Senate 2016</h2>
			
    </div>

 <% end %>
  




  
        <h2>Our Big News…Running for Senate!</h2>
        <p>Dear Friends:</p>

<p>Through some of our State’s most difficult times, Californians pulled together and persevered through years of brutal budgets and shared sacrifice.  Thanks to the voters, tools like the simple majority budget, temporary taxes, and a rainy day fund, we’re breaking down the “wall-of-debt” that threatened our state’s economy, paying back what we owe to schools, and making a comeback.</p>

<p>Yet, our recovery has been uneven and inequitable.  Too many are out-of-work; our social and public safety net is tattered; higher education and healthcare costs continue to rise; and the fourth consecutive year of drought and climate change threaten our multi-billion dollar farm industry.  We have the highest poverty rate in the Nation—children, the elderly, and those with disabilities—including veterans-- are especially hard hit.</p>

<p>Serving for six years in the California Assembly has been a high honor.  Together we survived those difficult years, but there are still many challenges ahead that will require experienced and energetic leadership.  We must boost our economy and protect small businesses and the lives of working people whose labor supports it.  We must also ensure that the promises made for a secure retirement are kept fair for all Californians, and ensure that care is accessible for the most vulnerable Californians.</p>

<p>That’s why I am a candidate for the Third District in the California State Senate.  As a professional social worker for over four decades, my background, training and commitment to equity have prepared me well to take on these challenges on your behalf.  I am excited to do this work and would be honored to have your support.</p>

<p>Primary Election Day is Tuesday, June 7, 2016.  Your early endorsement and a contribution of any amount will help share our message.</p>

<p>Thank you for your past support and encouragement.  I’m ready to run because “We’ve got work to do!”</p>

<p>Sincerely,</p>
<%= image_tag 'sig.jpg'%>
        <h4>Mariko Yamada</h4>
			
    
     
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	  <% end %>
	  
  