

 
    <% content_for :jumbot do %>
	
		 <div class="jumbotron jumbotron-welcome">
  	<h1>Mariko Yamada</h1>
        <h2>State Senate 2016</h2>
			
    </div>

 <% end %>
  




  
        <h2>The challenges ahead</h2>
        <p>California faces many daunting challenges today. Education, healthcare, and public safety have taken major cuts, and too many vital services have been slashed just when people need help the most.

 <p>As a social worker for almost four decades, I have always been committed to public service and have never shied away from tough situations. Over my career, I have worked in Los Angeles, San Diego, Washington, D.C., and for the past 18 years in northern and rural California.

 <p>As a county supervisor for five years, I learned the value of local government. As a state representative, my focus has been on constituent services, having resolved almost 800 cases since 2008. I believe legislation should be sparing and strategic, with the goal of making government work better.

 <p>As your representative, my priorities include: sustaining agriculture; protecting our water supply; supporting students and veterans; tax incentives for small businesses; preserving education funding minimum guarantees; and ensuring that our first responders are fully equipped.

 <p>California also faces twin explosions in autism and Alzheimer’s disease. As Chair of the Assembly Committee on Aging and Long Term Care, I will continue to advocate for healthcare reform, home- and community based services for seniors and persons with disabilities, and caregiver supports.

 <p>I want to serve our District, and am committed to a balanced and common sense approach in addressing some of our biggest problems. I will work hard on your behalf, and now respectfully ask for your vote.
Thank you. </p>
        <h4>Mariko Yamada<small><br/>Sacramento, CA</small></h4>
			
    
     
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	  <% end %>
	  
  