  
     <% content_for :jumbot do %>
 		 <div class="jumbotron jumbotron-about">
   	<h1>Mariko Yamada</h1>
         <h2>State Senate 2016<h2>
			
     </div>
  <% end %>
  
  
<h2>Experience</h2>
<p>Markio has held a number of prestigious and important offices, including:
		<p><b>Democratic Candidate 
		<br/>California Assembly, Fourth District

		<p>Social Worker (MSW, University of Southern California, 1974)
		<br/>Chair, California Democratic Party 8th Assembly District Committee (2002-04)
		<br/>Chair, Yolo County Democratic Central Committee (1998-2000)
		<br/>Yolo County Supervisor (2003-2008, Chair 2007)

		<p>37 Years of Public Service and Forging Partnerships

		<p>District 4 Director, Yolo County Board of Supervisors (1999-2003)
		<br/>EEO/AA Officer, San Diego County Dept. of Social Services (1989-1994)
		<br/>Office for Civil Rights, U.S. Dept. of Commerce (1982-1987)
		<br/>US. Census Bureau, 1989 Undercount Reduction Campaign (1977-1982)
		<br/>Assistant Deputy County Supervisor, Los Angeles County Supervisor Edmund D. Edelman (1975-1977)</b>

		<h2>Biography</h2>

		<p>Mariko Yamada is the Democratic candidate for California’s new 4th Assembly District, comprised of all or parts of six counties: Colusa, Napa, Lake, Solano (Dixon), Sonoma (Rohnert Park), and Yolo. The Primary Election is Tuesday, June 5, 2012; the General Election is Tuesday, November 6, 2012.

		<p>Mariko currently represents the 8th Assembly District, including ten cities in Solano and Yolo counties, and will continue to do so until the end of November 2012. She serves on five standing Assembly Committees: Aging and Long Term Care (Chair); Agriculture; Labor and Employment; Water, Parks, and Wildlife; and Veterans Affairs.

		<p>In January 2011, Mariko was named Chair of a new Assembly Select Committee on Sustainable and Organic Agriculture by Assembly Speaker John Perez. She also serves on the following additional Assembly Select Committees: Homelessness; Regional Approaches to the State’s Water Crisis; State Hospital Safety; State School Financial Takeovers; and Workforce Development Within the Developmentally Disabled Community. During her first term, Mariko also served on these additional Select Committees: Foster Care, and the 2010 Census.

		<p>During her first three years in the Assembly, Mariko sent 18 bills to the Governor, 12 of which have been signed into law. Her legislation has focused on Alzheimer’s research; water reform; consumer and civil rights protections; and vote-by-mail elections.

		<p>Prior to her election as the 8th District Assemblymember, Mariko served for five years as Yolo County Supervisor, District Four, and for four years as District Director for Yolo County Supervisor, now Yolo County Superior Court Presiding Judge David Rosenberg. She has consistently fought for the protection of civil rights, open space and agricultural preservation, and the inclusion of underserved communities in our educational system, the economy and political process. Her education and experience as a social worker drives her leadership on issues affecting the poor, elderly, and disabled.

		<p>Mariko’s experience also includes a decade in Washington, D.C. in federal service, first with the U.S. Census Bureau working on the undercount reduction “campaign” for the 1980 Census and then as the only female investigator in a staff of four headquarters staff with the Office of the Secretary, Office for Civil Rights, U.S. Department of Commerce. During her “D.C. days”, Mariko co-produced and co-hosted “Gold Mountain, D.C.”, a jazz and information show on WPFW 89.3 FM, one of the Pacifica Foundation radio affiliates. Classic R&B remains one of her mainstays.

		<p>Mariko was born in Denver, Colorado on October 23, 1950, after her family’s release from the Manzanar War Relocation Center, one of ten such Japanese American internment camps established during World War II. She attended inner city public schools in the “Five Points” neighborhood, and in June 1972, was the first in her family to graduate from college, earning her B.A. in psychology from the University of Colorado, Boulder, with an emphasis on the special mental health needs of Asian Americans. This interest brought her to Los Angeles, and in June 1974, she earned a Masters in Social Work from the University of Southern California, specializing in community organizing, planning and administration. She began her career in political social work with a Los Angeles –based United Way Agency, and then joined the staff of L.A. County Supervisor Edmund D. Edelman, her first job in politics.

		<p>Mariko has been married since 1983 to Janlee Wong, also a social worker and the Executive Director of the California Chapter of the National Association of Social Workers. They have two adult daughters: Meilee, a Research Associate and Director of Social Media for the American Continental Group in Washington, D.C., and Midori, a Consultant at the Treadstone Companies in San Diego
			
			<p class="bttop"><%= link_to 'Back to top <span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> '.html_safe, '#Top' %></p>
			
			
   
     
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	  <% end %>