  
     <% content_for :jumbot do %>
 		 <div class="jumbotron jumbotron-about">
   	<h1>Mariko Yamada</h1>
         <h2>State Senate 2016<h2>
			
     </div>
  <% end %>
  
  
<h2>Experience</h2>
<p>Mariko has a four-decade record of forging partnerships in public service:

		<blockquote><p><b>California State Assemblymember, 2008-2014</b><br/>Representing all or parts of
Colusa, Lake, Napa, Solano, Sonoma, & Yolo counties</p></blockquote>







		<blockquote><p>Yolo County Supervisor, District 4, 2003-2008
		<br/>District Director, Yolo County Board of Supervisors, District 4, 1999-2003
		<br/>Chair, Yolo County Democratic Party, 1998-2000
		<br/>Chair, California Democratic Party, 8th Assembly District Committee, 2002-2004</p></blockquote>

		<blockquote><p>Social Worker (MSW, University of Southern California, 1974)
		<br/>Equal Employment/Affirmative Action Officer, San Diego County Department of Social Services, 1989-1994
		<br/>Investigator, U.S. Department of Commerce, Office for Civil Rights, Washington, D.C. 1982-1987
		<br/>1980 Census Undercount Reduction “Campaign”, 1977-1982
		<br/>Assistant Deputy County Supervisor, Los Angeles County Board of Supervisors, 1975-1977</p></blockquote>
		

		<h4>Other Volunteer Positions</h4>
	<blockquote><p>City of Davis, Personnel Board
	<br/>Yolo County Health Council
	<br/>Yolo Basin Foundation Board of Directors
	<br/>Active PTA volunteer in San Diego and Davis</p></blockquote>

		<h2>Biography</h2>

		<p>Mariko Yamada is a Democratic candidate for CA State Senate District 03, comprised of Solano and Napa counties; and portions of the counties of Contra Costa; Sacramento; Sonoma and Yolo.  The Primary Election is Tuesday, June 7, 2016.</p>

		<p>Mariko served in the California State Assembly from 2008 – 2014; and on the Yolo County Board of Supervisors from 2003 - 2008.  She served as Chair of the Assembly Aging and Long Term Care Committee for five years; and was the senior member on the Assembly Committees on Agriculture; Water, Parks & Wildlife; and Veterans Affairs.  She was also a member of these Committees:   Assembly Rules, Labor & Employment, and Housing & Community Development.  In addition, she was Chair of the Assembly Select Committees on State Hospital and Developmental Center Safety; and Sustainable & Organic Agriculture; and served on the Assembly Select Committee on Homelessness; State School Financial Takeovers; Foster Care; Workforce Development Within the Developmentally Disabled Community; Wine; and the 2010 Census, among others.</p>

		<p>During her six years in the Assembly, Mariko saw 36 of her bills signed into law.  At the District-level, her hardworking staff mitigated over 1600 constituent cases.  One of her proudest achievements was the development of the Volunteer Income Tax Assistance Program, which grew from drawing down $200,000 a year in Yolo County, to her final year total of $2.1 million dollars in tax returns to local working families.  Over five years, the grand total of income tax returns was $$6.9 million with over 100 volunteers.  Mariko also focused her attention on helping high school students with their college financial aid applications through her sponsored Cash4College Workshops.  She also hosted numerous veteran’s service fairs as well as AB 60 Workshops for undocumented drivers.</p>

		<p>Before her election to the CA State Assembly, Mariko served for five years as Yolo County Supervisor, District 04.  She also served as District Four Director to then Yolo County Supervisor and now Yolo County Superior Court Judge David Rosenberg.  During her Yolo County service, Mariko consistently fought for the protection of civil rights, open space and agricultural preservation, and the inclusion of underserved communities in our educational system, the economy and the political process.  Her education and experience as a professional social worker drives her leadership on issues affecting the poor, elderly, and the disabled.  She has also been an advocate for small businesses.</p>

		<p>Mariko’s experience includes a decade in Washington, D.C. in federal service—first with the U.S. Census Bureau working on the undercount reduction “campaign” for the 1980 Census and then as the only female investigator among four headquarters staff with the Office of the Secretary, Office for Civil Rights, U.S. Department of Commerce.  During her “D.C. days”, Mariko co-produced and co-hosted “Gold Mountain, D.C.”, a jazz and information show on WPFW, 89.3 FM, one of the Pacific Foundation radio affiliates.  Classic R & B remains one of her mainstays.   She has also held positions in Los Angeles and San Diego counties.</p>

		<p>Mariko was born in Denver, Colorado after her family’s release from the Manzanar War Relocation Center, one of ten WWII Japanese American internment camps.  She attended inner-city public schools in the Five Points Neighborhood.  She has a B.A. in Psychology from the University of Colorado, Boulder, and a Masters in Social Work from the University of Southern California.  She has been married to Janlee Wong, also a social worker, since 1983, and has resided in Davis, CA, since 1994.  They are the parents of two adult daughters.</p>
			
			<p class="bttop"><%= link_to 'Back to top <span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> '.html_safe, '#Top' %></p>
			
			
   
     
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	  <% end %>