/* CSS used here will be applied after bootstrap.css */

body {
	background-color: #043638;
	
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
}

.wrapper {
	background-color: #efefef;
	padding-bottom: 20px;
}

.page {
	background-color: #fff;
	border:1px solid red;
	
	
}

.pagecontainer {
	background-color: #fff;
	border:1px solid #ccc;
	padding-top: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
}

.pagecontainer h2{
	color:#004F57;
}


.notices {
	
}
.rh {
	padding-top:15px;
} 

.push {
	
}
footer {
	color: #ccc;
	padding: 20px 0;
	
}

.bttop {
	text-align:right;
}

a.btn-primary {
	background-color: #F2893D;
	color:#fff;
	text-transform: uppercase;
	padding:7px;
	margin-bottom:5px;
}

a.btn-primary:hover {
	background-color: #ff6600;
}


footer .copy {
	text-align: center;
}



.jumbotron{
	padding: 250px 00px 0px 0px;
}

.jumbotron-welcome{
	color:#fff;
	margin-bottom: 10px;
	
	height:430px;
	background-position:65% 45%;
	background-size:cover;
	text-shadow: black 0.1em 0.3em 0.3em !important;
	background-image: url("welcome.jpg");
}

.jumbotron h2 {
	text-transform:uppercase;
	color: #fff;
}

h2 {
	text-transform:inherit;
	
}
.jumbotron-about{
	color:#fff;
	margin-bottom: 10px;
	
	height:430px;
	background-position:50% 31%;
	background-size:cover;
	
	text-shadow: black 0.1em 0.3em 0.3em !important;
	background-image: url("about.jpg");
	background-repeat: no-repeat;
	
}

.jumbotron-endorsements{
	color:#fff;
	margin-bottom: 10px;
	
	height:430px;
	background-position:90% 70%;
	
	
	background-size:cover;
	
	
	
	text-shadow: black 0.1em 0.3em 0.3em !important;
	background-image: url("endorsements.jpg");
	background-repeat: no-repeat;
	
}
.jumbotron-support{
	color:#fff;
	margin-bottom: 10px;
	
	height:430px;
	text-shadow: black 0.1em 0.3em 0.3em !important;
	background-image: url("support.jpg");
	background-repeat: no-repeat;
	
}

.jumbotron-contact{
	color:#fff;
	margin-bottom: 10px;
	
	height:430px;
	background-position:50% 50%;
	background-size:cover;
	text-shadow: black 0.1em 0.3em 0.3em !important;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	
}

@media (max-width: 991px) {
	
	a.btn-primary {
		font-size:1.5em;
	}
	
	.jumbotron {
		padding:0;
		text-align:center;
	}
	.jumbotron h1 {
		
		color: #fff;
		font-size:2.5em;
	}
	.jumbotron h2 {
		text-transform:uppercase;
		color: #fff;
		font-size:1.5em;
	}
	
	.jumbotron {
		padding-top:300px;
	}
	
}



.panel-default {
	border: 0;
}

.panel-body {
	border-bottom:0px solid #efefef;
	
}
.panel-body h4 {
	margin-top:0;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #fff;
  border-bottom: 2px solid #F18B21;
  margin-left: 15px;
  text-transform:uppercase;
  padding: 0 0 0 0px;
  
}


.navbar{
	background-color: #004F58;
	border-bottom: 3px solid #F18B21;
}

.navbar-fixed-top {
    min-height: 83px;
	
}

.navbar-nav > li > a {
    padding-top: 34px;
    padding-bottom: 0px;
	font-size: 1.1em;
	text-transform: uppercase;
	
}

.nav .brand {
	background-color: #004F58;
	
}
.nav {
	background-color: #004F58;
}


.dropdown-toggle {
	background:transparent!important;
}

.dropdown-menu {
	padding: 5px;
	font-size: 1.1em;
	text-transform: uppercase;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.nav .active a { color: #fff; background:transparent!important;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

footer h4 {
	color:#fff;
}

footer .btn-primary {
	background-color:#185557;
}
footer .facebook {
	font-size: 1.1em;
	
}

footer .facebook a {
	color:#fff;
	
}

footer .facebook a:hover {
	color:#fff;

	background-color: transparent;
}

footer .twitter {
	margin-top:10px;
}

footer .label {
	background-color: #185557;
}
footer .label a {
	color:#fff;
	font-weight: normal;
}

footer .label a:hover {
	color:#ff6600;
	background-color: transparent;
	text-decoration: none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
 
    color: red
  }
  
  form {
	  margin-bottom: 10px;
  }

  label.required:after {
	  font-size: 0.9em;
	  color: #ff6600;
    content:" *required";
  }
  
  ul.experience {
	  margin-left:20px;
	  padding-left:0;
  }
 
 
 .calendar {
	 padding-bottom:30px;
 } 
  .calendar-header {
	  background-color:#F4F9F9;
	  text-align:center;
	  font-size: 1.8em;
	  padding:10px;
	  margin-bottom:20px;
  }
  .calendar-header a{
	  padding: 0 10px;
  }
  
  .calendar th{
	  color:#333;
	  text-align:center;
  }
  
  
  .calendar td {
	  border:5px solid #fff;
	  color:#333;
	  vertical-align: top;
	  text-align:center;
	  width: 120px;
	  height: 100px;
	  padding:10px;
  }
  
  .day {
  }
  

  .past {
	  background-color: #F8FBFF;
  }
  
  .wday-6, .wday-0{
	  background-color: #FCE0CA;
  }
  
  td.today {
	  color: #ff6600;
  }
  
  .next-month, .prev-month {
	  background-color: #F4F9F9;
  }
  
.event-img {
	text-align:center;
	margin-bottom:20px;
}

.newsitem {
	margin-bottom:20px;
}

.pagination {
	width:100%;
	text-align:center;
}

.constantcontactrw {
	padding:20px;
}

.mediapic {
	padding:20px 0;
	text-align:center;
}

.mediapic h4 {
	text-align:center;
}

.metatags {
	background-color:#efefef;
	padding:10px 20px;
	margin-bottom: 20px;
}

.contribute_nav {
	float:left;
	margin-top:25px;
	margin-left:10px;
}

.contribute {
	font-size:1.1em;
}

.join_campaign {
	font-size:2.6em;
}

.familypic {
	padding:20px 0;
}