    <% content_for :jumbot do %>
		 <div class="jumbotron jumbotron-support">
  			 <h1>Mariko Yamada</h1>
        	 <h2>State Senate 2016<h2>
			
   		  </div>
 <% end %>
  





     <h2>Support Mariko's campaign</h2>
	



	<!-- This page is actually in /new.html.erb -->
	
      
     
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	  <% end %>