    <% content_for :jumbot do %>
		 <div class="jumbotron jumbotron-support">
  			 <h1>Mariko Yamada</h1>
        	 <h2>State Senate 2016<h2>
			
   		  </div>
 <% end %>
  





     <h2>Support Mariko's campaign</h2>
	
	 <p>Our grassroots campaign depends on great volunteers! Please complete this short form and we will contact you about how you can help us reach the finish line strong.</p>

<!--Begin CTCT Sign-Up Form-->
<!-- EFD 1.0.0 [Mon Oct 26 13:12:18 EDT 2015] -->
<link rel='stylesheet' type='text/css' href='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/css/signup-form.css'>
<div class="ctct-embed-signup" style="font: 16px Helvetica Neue, Arial, sans-serif; font: 1rem Helvetica Neue, Arial, sans-serif; line-height: 1.5; -webkit-font-smoothing: antialiased; ">
   <div style="color:#5b5b5b; background-color:#FFFFFF; border-radius:5px;">
       <span id="success_message" style="display:none;">
           <div style="text-align:center;">Thanks for signing up!</div>
       </span>
       <form data-id="embedded_signup:form" class="ctct-custom-form Form form-controller" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup" >
         
           <!-- The following code must be included to ensure your sign-up form works properly. -->
           <input data-id="ca:input" type="hidden" name="ca" value="71420668-bf21-44ce-9ca9-8393b049c08b">
           <input data-id="source:input" type="hidden" name="source" value="EFD">
           <input data-id="required:input" type="hidden" name="required" value="list,email,first_name,last_name">
           <input data-id="url:input" type="hidden" name="url" value="">
           <p data-id="Email Address:p" class="form-controller"><label data-id="Email Address:label" data-name="email" class="ctct-form-required ">Email Address</label> <input data-id="Email Address:input" type="text" name="email" value=""  ></p>
           <p data-id="First Name:p" ><label data-id="First Name:label" data-name="first_name" class="ctct-form-required">First Name</label> <input data-id="First Name:input" type="text" name="first_name" value="" maxlength="50" ></p>
           <p data-id="Last Name:p" ><label data-id="Last Name:label" data-name="last_name" class="ctct-form-required">Last Name</label> <input data-id="Last Name:input" type="text" name="last_name" value="" maxlength="50"></p>
           <p data-id="Phone Number:p" ><label data-id="Phone Number:label" data-name="phone">Phone Number</label> <input data-id="Phone Number:input" type="text" name="phone" value="" maxlength="50"></p>
           <p data-id="Zip Code:p" ><label data-id="Zip Code:label" data-name="address_postal_code">Zip Code</label> <input data-id="Zip Code:input" type="text" name="address_postal_code" value="" maxlength="50"></p>
                      <p data-id="Lists:p" ><label data-id="Lists:label" data-name="list" class="ctct-form-required">I'd like to (check all that apply):</label><div><input data-id="Lists:input" type="checkbox" name="list_0" value="1491338190"><span data-id="Lists:span"> Display or Deliver Lawn Signs</span></div><div><input data-id="Lists:input" type="checkbox" name="list_1" value="1372548401"><span data-id="Lists:span"> Endorser</span></div><div><input data-id="Lists:input" type="checkbox" name="list_2" value="1197308442"><span data-id="Lists:span"> Help Get Out the Vote</span></div><div><input data-id="Lists:input" type="checkbox" name="list_3" value="1435653862"><span data-id="Lists:span"> Host Meet &amp; Greet</span></div><div><input data-id="Lists:input" type="checkbox" name="list_4" value="1670510592"><span data-id="Lists:span"> Make Phone Calls</span></div><div><input data-id="Lists:input" type="checkbox" name="list_5" value="1146819461"><span data-id="Lists:span"> Walk Precincts</span></div></p>
           <button type="submit" class="Button ctct-button Button--block Button-secondary" data-enabled="enabled">Sign Up</button>
       	<div><p class="ctct-form-footer">By submitting this form, you are granting: Yamada For Senate 2016, P.O. Box 528, Sacramento, California, 95812, United States, http://www.yamadaforsenate.net permission to email you. You may unsubscribe via the link found at the bottom of every email.  (See our <a href="http://www.constantcontact.com/legal/privacy-statement" target="_blank">Email Privacy Policy</a> for details.) Emails are serviced by Constant Contact.</p></div>
       </form>
   </div>
</div>
<script type='text/javascript'>
   var localizedErrMap = {};
   localizedErrMap['required'] = 		'This field is required.';
   localizedErrMap['ca'] = 			'An unexpected error occurred while attempting to send email.';
   localizedErrMap['email'] = 			'Please enter your email address in name@email.com format.';
   localizedErrMap['birthday'] = 		'Please enter birthday in MM/DD format.';
   localizedErrMap['anniversary'] = 	'Please enter anniversary in MM/DD/YYYY format.';
   localizedErrMap['custom_date'] = 	'Please enter this date in MM/DD/YYYY format.';
   localizedErrMap['list'] = 			'Please select at least one email list.';
   localizedErrMap['generic'] = 		'This field is invalid.';
   localizedErrMap['shared'] = 		'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
   localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
	localizedErrMap['state_province'] = 'Select a state/province';
   localizedErrMap['selectcountry'] = 	'Select a country';
   var postURL = 'https://visitor2.constantcontact.com/api/signup';
</script>
<script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
<!--End CTCT Sign-Up Form-->


	
      
     
      	
		
		<% content_for :rhcolumn do %>
  	<%= render "/layouts/support.html.erb"%>
	 <%= render "/layouts/constantcontact.html.erb"%>
	  <% end %>