<h2>Using the editor</h2>

<p>Simply enter text and format as you would in a simple word processor - but do keep in mind the style of the site, and that large variations in design between posts will quickly make the news section messy.
	
<p>For videos, use the YouTube link, and check the 'make responsive' box to fill the page width.</p>

<p>Can't see the video or other external image you just added to the entry? You may need to refresh the page after you've added for this to show up.</p>

	
</div>