  	<div class="panel panel-default">
    	<div class="panel-heading"><h5>Sign up for Mariko's newsletter</h5></div>
		<div class="panel-body"><p>Stay in the loop and sign up for Mariko's newsletters.</p>
  			
			<%= link_to 'Keep me posted!', 'http://visitor.constantcontact.com/d.jsp?m=1101795480971&p=oi', class: 'btn btn-primary', role: 'button', target: '_blank'%> 
		</div>
	  </div>