    	<div class="panel panel-default">
      	<div class="panel-heading"><h4>Manage Endorsements</h4></div>
  		<div class="panel-body"><p>Only Admins can see/edit the endorsements</p>
    			<%= link_to 'Add New Endorsement', new_endorsement_path,  class: 'btn btn-primary btn-block', role: 'button' %> 
  			
  		</div>
  	  </div>