  	<div class="panel panel-default">
    	<div class="panel-heading"><h4>Mariko on the Issues</h4></div>
		<div class="panel-body"><p>Learn more about Mariko's stance on the important issues facing our community.</p>
  			
			<%= link_to 'Mariko on the Issues', issues_path, class: 'btn btn-primary', role: 'button'%> 
		</div>
	  </div>