
 <% if current_user %>
 <span class="label label-warning">
      <%= link_to "Logout", :logout, method: :post %> | <%= link_to 'Admin', admin_path %>
  </span>
    <% else %>
	<span class="label label-warning">
      <%= link_to "Login", :login %> 
  </span>
    <% end %>
 