
<% if user_signed_in? %>
  <span class="label label-warning">
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
</span>
<% else %>
   <span class="label label-warning">
  <%= link_to('Login', new_user_session_path)  %>  
</span>
<% end %>