<h2>Using HTML tags</h2>

<p>You can enter text in the form here, and it will appear in a plain style consistent with the rest of the website. 
<p>The form does allow use of basic HTML tags to format the text entry, but these should be used with caution.</p>

<p>Improper use of tags can lead to breaking the design and/or layout of the website, so only add tags if you know what you are doing.</p>

<p >Above all -  <b>be sure to close your tags!</b>
	
<div class="well">
<h4>Some handy tags</h4>

<h3>&lt;h3&gt;Header&lt;/h3&gt;</h3>

<p><b>&lt;b&gt;bold text&lt;/b&gt;</b></p>

<p><i>&lt;i&gt;italic text&lt;/i&gt;</i></p>

<p>&lt;a href="http://website.com" target="_blank"&gt;link to website&lt;/a&gt;
	
</div>