    	<div class="panel panel-default">
      	<div class="panel-heading"><h4>Support Mariko</h4></div>
  		<div class="panel-body"><p>We need your help to get Mariko elected to State Senate in 2016. You can assist in several ways - from making a financial contribution to hosting a coffee morning.</p>
    			<%= link_to 'Get Involved', support_path,  class: 'btn btn-primary', role: 'button' %> 
  			<%= link_to 'Contribute', 'https://secure.actblue.com/contribute/page/yamadaforsenate', class: 'btn btn-primary', role: 'button', target: '_blank'%> 
  		</div>
  	  </div>